<strong> olá, {{name}}</strong><br>
<p>Uma nova encomenda está disponivel para você retirar</p><br>
<hr><br>
<strong>Dados:</strong><br>
<p>Nome: {{nameRecipient}}</p>
<p>Rua: {{street}}</p><br>
<p>Numero: {{number}}</p><br>
<p>Cep: {{cep}}</p>
<p>Produto: {{product}}</p>
